<h2>Your Node Has Not Processed Any Blocks Yet</h2>
<p>
	This may be because it's brand new - nothing to worry about yet in that case!	
</p>
<p>
	<button id="back" class="btn btn-primary">Check Again</button>
</p>


<script type="text/javascript">
	$(function () {
		$("#back").click(function () {
			document.location.href="/";
		})
	})
    
</script> 