<div id="node-info">
	<span class="spinner-border spinner-border-sm text-primary"></span>
	Loading...
</div>

<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
<script type="text/javascript">
	$(function () {		
		if (window.localStorage.credentials_secure)
		{
			$.ajax({
				url: "/get-node-info",
				method: "POST",
				data: {
					credentials_secure: window.localStorage.credentials_secure
				},				
				dataType: "html"
			})			
				.done(function (data) {
					$("#node-info").html(data);
					$("#logout")
						.removeClass("d-none")
						.click(function () {
							window.localStorage.removeItem("credentials_secure")							
							document.location.href = "/";
						})
				})			

		} else {
			$.get("/login").done(function (data) {$("#node-info").html(data)});
		}

	});	
	
</script>